{
    box-sizing: border-box;
}

body{
    margin: 0;
    /*font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans", sans-serif;/*Baskerville, "Baskerville Old Face", "Times New Roman", serif;*/
}

h1{
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans", sans-serif;
}

.half-container{
    margin: 0;
    text-align: center;
    justify-content: center;
    display: flex;
    height: calc(50vh - 64px);
}

.container{
    margin: 0;
    text-align: center;
    justify-content: center;
    display: flex;
    height: calc(100vh - 64px);
}
.shadow {
    transition: .2s;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

.shadow-none{
    transition: .2s
}

/*     height: 64px;
*/
nav{
    z-index: 2;
    background: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
    height: 4rem;

    color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
}

nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 150%;
}

nav a{
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
}

/*nav li.active{
    background-color: #555;
}


nav li:hover{
    background-color: #777;
}*/

.link-padding{
    letter-spacing: .5px;
    border-radius: 5px;
    padding: 8px 4px;
    margin: 4px;
}

.link-padding.active-nav{
    background-color: #61dafb;
    transition: .3s;
}

a.text-link{
    position: relative;
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 1rem;
    font-size: 100%;
}

a.text-link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

a.text-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

img.imgLink{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    height: 25.6px;
}

/* HOME */

.greeting{
    text-align: center;
    font-size: 200%;
    /*padding-left: 0%;
    padding-right: 0%;*/
    padding-bottom: 0;
    justify-content: center;
    font-family: "Helvetica Neue", "Trebuchet MS", "Lucida Grande", "Lucida Sans", sans-serif;
}

.name{
    text-align: center;
    font-size: 9vh;
    /*padding-left: 20%;
    padding-right: 20%;*/
    margin-top: 0;
    margin-bottom: .5%;
    justify-content: center;
}
.text{
    font-size: 150%;
    text-align: center;
    /*padding-left: 20%;
    padding-right: 20%;*/
    margin-top: 0;
    margin-bottom: 0;
    justify-content: center;
}

.home{
    width: 100%;
    background: /*linear-gradient(0deg, gray, whitesmoke 50%);*/ powderblue;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}

.intro{
    width: 66%;
    /*aspect-ratio: 1.618;
    background-color: green;*/
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.picture{
    /*background-color: green;*/
    width: 34%;
    align-items: center;
    align-content: center;
    display: flex;
}

.picture-bubble{
    height: 66%;
    width: 66%;
    border-radius: 20px;
    background-color: gold;
}

.intro-bubble{
    height: 80%;
    width: 80%;
    position: relative;
    left: 5%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.intro-contact{
    /*background-color:pink;*/
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* ABOUT */

.about{
    background-color: lightgray;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    flex-direction: row;

}

.about-image{
    background-color: yellow;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    align-self: center;
}

.about-info{
    border-radius: 25px;
    padding: 2.5%;
    display: flex;
    flex-direction: column;
    /*background-color: yellow;*/
    width: 50%;

}

.about-heading{
    text-align: left;
    margin-top: 0;
}

.about-text{
    text-align: left;
    font-size: x-large;
}

.about-resume{
    font-size: x-large;
    text-align: left;
    padding: 5px;
    margin-top: 15px;
    border-radius: 5px;
    background-color: gold;
    width: fit-content;

}

/*
.about-skills{
    border-radius: 25px;
    background-color: orange;
}

.about-resume{
    border-radius: 25px;
    background-color: orangered;
}*/
/*.about-sidebar{
    grid-column: 3;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about-sidebar{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}*/

/*.about-skills{
    background-color: orange;
    border-radius: 25px;
    width: 30vh;
    aspect-ratio: 1/1.618;
}

.about-resume{
    background-color: orangered;
    border-radius: 25px;
    width: 30vh;
    aspect-ratio: 1.618;
}*/

/* PROJECTS */

.projects{
    background-color: powderblue;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    flex-direction: row;
}

.projects-heading{
    text-align: left;
    align-self: start;
    width: 100%;
    margin: 5% 10%;
}

/*.projects-selector{
    background-color: orange;
    width: 21%;
    aspect-ratio: 1/1.618;
}*/

/* IMPORTANT */

.content{
    margin-top: 4rem;
}

html{
    scroll-behavior: smooth;
}

.site-title{
    font-size: 2rem;
}

rounded{
    border-radius: 25px;
    background: gold;
    padding: 20px;
    height: 67.2vh;
    /* height: 55%;*/
    aspect-ratio: 1.618;
    /*    height: calc(same-as-width/1.618);

    width: 200px;
    height: 150px;*/
}